h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 700px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background: crimson;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}